<div class="col-md-12">
  <h1> Photo # <%= @photodeets.id %> </h1>
</div>

<div class="col-md-12">
  <dl class="dl-horizontal">
    <dt> <strong> Photo </strong> </dt>
    <dd><img src="<%= @photodeets.source %>"></dd>

    <dt> <strong> Caption </strong> </dt>
    <dd> <%= @photodeets.caption %> </dd>
  </dl>
</div>
